/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ctrl h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.center {
  text-align: center;
}

.listing {
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.7);
  transition: all 250ms;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: 35vh;
}

.listing:hover {
  box-shadow: 1px 1px 20px -4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 20px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 20px -4px rgba(0, 0, 0, 0.7);
  transform: scale(1.005);
}

.listing-content p {
  margin-bottom: 0 !important;
}

.listing-content-heading {
  font-size: x-large;
}

.listing-thumbnail {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.listing-thumbnail:hover {}

.listing-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Background color for text overlay */
  color: #fff;
  /* Text color */
  padding: 10px;
  /* Adjust the padding as needed */
  width: 100%;
  /* Make the text overlay span the full width */
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

.object-title {
  margin-bottom: 5px;
  margin-top: 5px;
}

.property {
  margin-bottom: 20px;
}

.property p {
  margin-bottom: 1em;
  margin-top: 1em;
}

.property-image {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
}

.property-image img {
  width: 100%;
  height: auto;
  object-fit: none;
  max-height: 500px;
}

/* .button {
  display: flex;
  padding: 10px 20px;
  margin: 25px 0 0 0;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  border: solid 2px #545454;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #545454;
  color: #fff;
} */

.wp-element-button,
.wp-block-button__link {
  display: inline-block;
  width: fit-content;
}

.fact {
  padding: 25px;
  margin-bottom: 25px;
}

.fact h5 {
  margin-bottom: 0;
}

.fact h5:not(:first-child) {
  margin-top: 25px;
}

.fact .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.fact .column {
  flex: 1 1 100%;
  border-bottom: 1px dashed #545454;
}

.fact .space-between {
  display: flex;
  justify-content: space-between;
}

.description {
  padding: 50px 0 25px 0;
}

.viewing .row {
  display: flex;
  flex-wrap: wrap;
}

.viewing .column {
  flex: 1;
  flex-basis: 100%;
  padding: 25px;
  margin: 0 0 25px 0;
}

.agent {
  margin: 0 0 25px 0;
  padding: 25px;
}

.agent .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.agent .column {
  flex: 1 0 100%;
  padding: 0 25px 0 25px;
}

.agent .column img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.agent .column p {
  font-size: x-large;
}



/**
 * Tabs Container
 */
.tabs-container {
  padding: 0;
  padding-bottom: 25px;

}

/**
 * Tabs Block
 */
.tabs-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tabs label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-bottom: 25px;
  cursor: pointer;
  background-color: #fff;
  color: #0067b8;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  transition: background-color ease 0.3s;
  border: 2px solid #0067b8;

}

.tabs label .material-icons {
  margin-right: 0.3rem;
}

.tabs .tab {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  color: #000;
  background-color: #fff;
  padding: 25px;
  margin-bottom: 25px;
}

.tabs .tab>*:not(:last-child) {
  margin-bottom: 0.8rem;
}

.tabs .tab>*:last-child {
  margin-bottom: 0.8rem;
  margin-right: 0;
}

.tabs [type=radio] {
  display: none;
}

.tabs [type=radio]:checked+label {
  background-color: #0067b8;
  color: #fff;
}

.tabs [type=radio]:checked+label+.tab {
  display: block;
}

.gallery {
  padding-top: 25px;
  padding-bottom: 25px;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.single-image {
  flex: 0 0 100%;
}

.single-image img {
  width: 100%;
  object-fit: cover;
}

.contact {
  padding: 25px;
  margin: 25px 0 25px 0;
}

@media (min-width: 768px) {
  .property-image {
    display: flex;
    justify-content: center;
    max-height: 650px;
  }

  .property-image img {
    object-fit: cover;
    width: 100%;
  }

  .fact .column {
    flex: 1 1 48%;
  }

  .fact .row {
    gap: 0 25px;
  }

  .viewing .row {
    gap: 25px;
  }

  .viewing .column {
    flex: 1;
    flex-basis: 25%;
  }

  .agent .column {
    flex: 0 1 250px;

  }

  .tabs-container {
    padding: 0;
    padding-bottom: 25px;
  }

  .tabs label {
    order: 1;
    width: auto;
    flex: 1;
  }

  .tabs .tab {
    order: 9;
  }

  .tabs [type=radio]:checked+label {
    border-bottom: none;
  }

  .single-image {
    flex: 0 0 calc(25% - 7.5px);
  }

  .single-image {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .single-image img {
    object-fit: cover;
    height: 20vw;
    max-height: 200px;
    width: 100%;
  }
}