/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .wrapper {
    width: 100%;
 }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.object-listing-title {
    font-size: 25pt;
}

.object-listing-main-image {
    
}